* {margin: 0;}

nav ul {
    display: flex;
    justify-content: end;
}
nav ul li {
    list-style: none;
    padding: 10px;
    margin: 2px;
}

#logo {
    width: 500px;
    height: 200px;
    background-color: orange;
}

