* {margin: 0;}
body {background-color: black;}

.newLayout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.newLayout div {
    flex-shrink: 0;
    height: 50px;
    flex-basis: 200px;
    background-color: #ff0000;
    margin: 10px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.parent {
    display: flex;
    background-color: red;
    margin: 10px;
    width: 200px;
    height: 200px;
}
.clild {
    background-color: yellow;
    width: 50px;
    height: 50px;
}
#one {justify-content: center;align-items: center;}
#two {justify-content: flex-end;align-items: flex-end;}
#three {justify-content: flex-start;align-items: flex-start;}
#four {justify-content: flex-end;align-items: center;}
#five {justify-content: center;align-items: flex-end;}
#six {justify-content: flex-start;align-items: center;}
#seven {justify-content: center;align-items: flex-start;}
#eight {justify-content: flex-start ;align-items: flex-end;}
#nine {justify-content: flex-end;align-items: flex-start;}