.hide{
    display: none;
}

.gameArea{
    background-color: black;
    width: 200px;
    height: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.car{
    position: absolute;
    bottom: 100px;
    margin: auto;
    left: 200px;
    width: 50px;
    height: 100px;
    background: blue;
}