* {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #000;
}
body {
    height: 100vh;
}

nav {
    display: flex;
    justify-content: end;    
    align-items: center;
    margin-right: 20px;
    height: 4vh;
}
nav a {
    margin-right: 20px;
}
nav .topimage {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: blue;
}

#middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}