* {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #000;
}
body {
    height: 100vh;
}

nav {
    display: flex;
    justify-content: end;    
    align-items: center;
    margin-right: 20px;
    height: 5vh;
}
nav a {
    margin-right: 20px;
}
nav .topimage {
    display: flex;
    align-items: center;
    height: 50px;
}

#middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

#searchbar-container{
    margin-top: 20px;
}
#searchbar{
    padding: 15px 30px;
    width: 400px;
    border: 1px solid gray;
    outline: 0;
    border-radius: 50px;
}

#button-container {
    margin: 20px;
}
.search-buttons {
    margin: 0 5px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid gray;
    background: #26292A;
    cursor: pointer;
}

.section-1 {
    margin: 5px 20px;
}
.section-2 {
    margin: 5px 20px;
    position: relative;
}
/* .footer-left {
    display: flex;
}
.footer-left a {
    margin-right: 5px;
}
.footer-right {
    display: flex;
    position: absolute;
    right: 0;
}
.footer-right a {
    margin-left: 5px;
} */
.footer-left {
    margin-right: 5px;
}
.footer-right {
    margin-left: 5px;
}
.footer-right-container {
    position: absolute;
    right: 0;
}