body {
    color: #fff;
    background: #000;
}

#title {
    text-align: center;
}

#image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
#img-div {
    text-align: center;
}