html {
    --bg-color: black;
    --content-padding: 20px;
    --content-bg: green;
    --text-color: white;
    --default-font-siz: 15px;
    --h1-font-size: calc(var(--default-font-siz) * 3);
    --p-font-size: calc(var(--default-font-siz) * 1.5);
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
h1 {font-size: var(--h1-font-size);}
p, li {font-size: var(--p-font-size);}

#hello {
    padding: var(--content-padding);
    background: var(--content-bg);
}

li {
    background: purple;
}
li:hover {
    background: green;
}
ul li:nth-child(2){
    color: yellow;
}


.hidden-found{
    display: none;
}
.hidden-h1:focus + .hidden-found{
    display: block;
}

.boxParent {
    border: 1px solid white;
    position: relative;
    margin-top: 200px;
    margin-left: 30px;
}

.boxChild{
    position: absolute;
    top: 0;
    margin: 0;
    right: 0;
}